name: Makefile CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install modern compiler
      run: |
        sudo apt-get update
        sudo apt-get install -y g++-12

    - name: Show versions
      run: |
        gcc-12 --version
        g++-12 --version

    - name: Build
      run: |
        export CC=gcc-12
        export CXX=g++-12
        make V=1

